<!doctype html>
<html>
  <head>
    <title>Hearts</title>
    <script src="https://unpkg.com/vue"></script>
    <%- include('partials/head') %>  

    <style>
      #game-url {
        width: 350px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
      <a class="navbar-brand" href="/"><i class="far fa-heart"></i> Hearts</a>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input class="form-control disabled" id="game-url" value="URL to game" readonly>
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" id="copy-game-url"><i class="far fa-clipboard"></i></button>
          </div>
        </div>
      </form>
    </nav>
    <div id="app" class="container mt-6">
      <div class="row mt-3">
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item d-flex flex-column align-items-center">
            <p v-if="game.round == 0">Deal to start</p>
            <p v-else>Round {{ game.round }}</p>
            <button class="btn btn-outline-success" @click="deal">Deal</button>
          </li>
          <li class="list-group-item" 
            v-for="player in game.players"
            v-bind:class="{ active: player.id == turn}">
            <div v-if="player.id == myPlayerId && editingName" class="input-group">
              <input type="text" class="form-control" v-model="game.players[me.id].name">
              <div class="input-group-append">
                <button class="input-group-text" @click="changeName"><i class="fas fa-save"></i></button>
              </div>
            </div>
            <div v-else>
              <h1 class="h3">
                {{ player.name }}
                <button v-if="player.id == myPlayerId" @click="editName" class="btn btn-outline-dark btn-sm"><i class="fas fa-pen"></i></button>
              </h1>
            </div>
            <p>Points: {{ player.points }}</p>
          </li>
        </ul>
      </div>
      <div v-if="myPlayerId == null">
        <div class="row mt-3">
          <h1 class="h2">Choose a player</h1>
        </div>
        <div class="row">
          <ul class="list-group">
            <li v-for="player in availablePlayers" 
              class="list-group-item d-flex justify-content-between align-items-center">
              <span class="pr-5">{{ player.name }}</span>
              <button class="btn btn-primary" @click="join(player.id)">Claim</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mt-3 justify-content-between">
        <h1 class="h2">Current trick</h1>
        <div v-if="trickIsOver">
          <button class="btn btn-primary" @click="endTrick">End trick</button>
        </div>
      </div>
      <div class="row">
        <p v-if="game.trick.length == 0">No cards have been played yet</p>
        <ul class="list-group list-group-horizontal-md list-group-flush">
          <li v-for="(card, index) in game.trick" 
            class="list-group-item px-1"
            style="border-top-width: 0px; border-bottom-width: 0">
            <div class="d-flex flex-column justify-content-center">
              <img width="75" height="105" :src="card.images.png">
              <button class="btn btn-outline-secondary mt-1" v-if="card.playerId == myPlayerId" @click="undoPlay(index)">Undo</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="row mt-3">
        <div v-if="me">
          <h1 class="h2">My cards</h1>
          <p v-if="me.cards.length == 0">Out of cards. <b>Deal</b> using the button in the top left corner.</p>
          <ul class="list-group list-group-horizontal-md list-group-flush">
            <li v-for="(card, index) in me.cards" 
              class="list-group-item px-1"
              style="border-top-width: 0px; border-bottom-width: 0">
              <div class="d-flex flex-column justify-content-center">
                <img width="75" height="105" :src="card.images.png">
                <button class="btn btn-outline-primary mt-1"
                  v-if="myPlayerId == turn && allPlayersTraded && !trickIsOver" 
                  @click="play(myPlayerId, index)">Play</button>
                <button class="btn btn-outline-primary mt-1"
                  v-if="!me.traded" 
                  @click="trade(myPlayerId, index)">Trade</button>
              </div>
            </li>
          </ul>
          <div v-if="!allPlayersTraded && game.round > 0">
            <h2 class="h3">To be traded ({{ getTradeDescription(game.round) }})</h2>
            <ul class="list-group list-group-horizontal-md list-group-flush">
              <li v-for="(card, index) in game.players[myTradePartner.id].cardsFromTrade"
                class="list-group-item px-1"
                style="border-top-width: 0px; border-bottom-width: 0">
                <div class="d-flex flex-column justify-content-center">
                  <img width="75" height="105" :src="card.images.png">
                  <button class="btn btn-outline-primary" 
                    @click="undoTrade(myTradePartner.id, index)">Undo</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>
      const gameUrl = document.getElementById('game-url');
      gameUrl.value = window.location;

      document.getElementById('copy-game-url').onclick = (e) => {
        e.preventDefault();
        gameUrl.select();
        document.execCommand('copy');
      } 
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      let myPlayerId = null;

      const socket = io();
    </script>
    <script>
      new Vue({
        el: '#app',
        data: {
          myPlayerId: null,
          editingName: false,
          deck: null,
          game: {
            trick: [],
            turnStack: [],
            round: 0,
            players: [{
              id: 0,
              name: 'Player 1',
              claimed: false,
              traded: false,
              points: 0,
              cards: [],
              cardsFromTrade: [],
              cardsFromTricks: [],
            }, {
              id: 1,
              name: 'Player 2',
              claimed: false,
              traded: false,
              points: 0,
              cards: [],
              cardsFromTrade: [],
              cardsFromTricks: [],
            }, {
              id: 2,
              name: 'Player 3',
              claimed: false,
              traded: false,
              points: 0,
              cards: [],
              cardsFromTrade: [],
              cardsFromTricks: [],
            }, {
              id: 3,
              name: 'Player 4',
              claimed: false,
              traded: false,
              points: 0,
              cards: [],
              cardsFromTrade: [],
              cardsFromTricks: [],
            }]
          }
        },
        created: function() {
          this.myPlayerId = myPlayerId;

          socket.on('game', game => {
            this.game = game;
          });

          socket.on('getGame', () => {
            socket.emit('played', this.game);
          });

          const gameId = window.location.pathname.replace('game/');
          socket.emit('join', gameId);

          window.onbeforeunload = () => {
            if (myPlayerId == null) {
              // nothing to clean up if no playerId
              return; 
            }

            this.game.players[myPlayerId].claimed = false;

            socket.emit('played', this.game);
          }
        },
        computed: {
          allPlayersTraded: function() {
            return this.game.players[0].traded &&
              this.game.players[1].traded &&
              this.game.players[2].traded &&
              this.game.players[3].traded
          },
          trickIsOver: function() {
            return this.game.trick.length == 4;
          },
          me: function() {
            return this.myPlayerId == null ? null : this.game.players[this.myPlayerId];
          },
          availablePlayers: function() {
            return this.game.players.filter(player => !player.claimed);
          },
          myTradePartner: function() {
            return this.myPlayerId == null ? null : this.game.players[this.getTradePartner(this.game.round, this.myPlayerId)];
          },
          turn: function() {
            return this.game.turnStack[this.game.turnStack.length - 1];
          }
        },
        methods: {
          getDeck: function() {
            return fetch('https://deckofcardsapi.com/api/deck/new/shuffle/?deck_count=1')
              .then(res => {
                return res.json();
              });
          },
          shuffle: function() {
            return fetch(`https://deckofcardsapi.com/api/deck/${this.deck}/shuffle/`);
          },
          getCards: function() {
            return fetch(`https://deckofcardsapi.com/api/deck/${this.deck}/draw/?count=52`)
              .then(res => {
                return res.json();
              });
          },
          deal: async function() {
            if (!this.deck) {
              const deck = await this.getDeck();
              this.deck = deck.deck_id;
            } else {
              await this.shuffle();
            }

            this.game.round += 1;

            // reset the game
            for (let i = 0; i < 4; i++) {
              this.game.players[i].cards = [];
              this.game.players[i].traded = this.game.round % 4 == 0; // no need to trade every 4th round
              this.game.players[i].cardsFromTrade = [];
              this.game.players[i].cardsFromTricks= [];
            }

            this.game.trick = [];

            const cardPayload = await this.getCards();
            const cards = cardPayload.cards;

            for (let i = 0; i < cards.length; i++) {
              const card = cards[i];
              // numericValue helps with sorting
              switch (card.value) {
                case 'ACE':
                  card.numericValue = 14;
                  break;
                case 'KING':
                  card.numericValue = 13;
                  break;
                case 'QUEEN':
                  card.numericValue = 12;
                  break;
                case 'JACK':
                  card.numericValue = 11;
                  break;
                default:
                  card.numericValue = parseInt(card.value);
              }
              
              this.game.players[i % 4].cards.push(cards[i]);
            }

            // If no trades occur, start the round
            if (this.game.round % 4 == 0) {
              let startingPlayerId;

              for (let i = 0; i < 4; i++) {
                if (this.game.players[i].cards.map(card => card.code).includes('2C')) {
                  startingPlayerId = i;
                }
              }

              // Start the round with whomever has the 2 of clubs
              this.setTurnStack(startingPlayerId);
            }

            socket.emit('played', this.game);
          },
          play: function(playerId, cardIndex) {
            if (playerId != this.turn) {
              return;
            }

            const card = this.pullCardFromPlayer(playerId, cardIndex);
            card.playerId = playerId;
            
            this.game.trick.push(card);

            this.game.turnStack.pop();

            socket.emit('played', this.game);
          },
          undoPlay: function(cardIndex) {
            const card = this.game.trick.splice(cardIndex, 1)[0];
            this.game.players[card.playerId].cards.push(card);

            this.game.turnStack.push(card.playerId);

            socket.emit('played', this.game);
          },
          changeName: function() {
            this.editingName = false;
            socket.emit('played', this.game);
          },
          editName: function() {
            this.editingName = true;
          },
          endTrick: function() {
            const leadingSuit = this.game.trick[0].suit;
            const winningCards = this.game.trick
              .filter(card => card.suit == leadingSuit)
              .sort((a, b) => b.numericValue - a.numericValue);
            
            const winningPlayerId = winningCards[0].playerId;

            this.game.players[winningPlayerId].cardsFromTricks = this.game.players[winningPlayerId].cardsFromTricks.concat(this.game.trick);
            this.game.trick = [];

            // round is over; assign points
            if (this.game.players[0].cards == 0) {
              this.updateScores();
            } else {
              // winning player goes next
              this.setTurnStack(winningPlayerId);
            }

            socket.emit('played', this.game);
          },
          setTurnStack: function(playerId) {
            const reverseTurnOrder = [];
            for (let i = 0; i < 4; i++) {
              reverseTurnOrder.push(playerId);
              playerId = playerId == 3 ? 0 : playerId + 1;
            }

            this.game.turnStack = reverseTurnOrder.reverse();
          },
          trade: function(playerId, cardIndex) {
            const card = this.pullCardFromPlayer(playerId, cardIndex);
            card.playerId = playerId;

            const receivingPlayerId = this.getTradePartner(this.game.round, playerId);
            this.game.players[receivingPlayerId].cardsFromTrade.push(card);

            if (this.game.players[playerId].cards.length == 10) {
              this.game.players[playerId].traded = true;
            }

            if (this.allPlayersTraded) {
              let startingPlayerId;

              for (let i = 0; i < 4; i++) {
                this.game.players[i].cards = this.game.players[i].cards.concat(this.game.players[i].cardsFromTrade);
                this.game.players[i].cardsFromTrade = []; 

                if (this.game.players[i].cards.map(card => card.code).includes('2C')) {
                  startingPlayerId = i;
                }
              }

              // Start the round with whomever has the 2 of clubs
              this.setTurnStack(startingPlayerId);
            }

            socket.emit('played', this.game);
          },
          undoTrade: function(playerId, cardIndex) {
            const card = this.pullCardFromPlayer(playerId, cardIndex, true);
            this.game.players[card.playerId].cards.push(card);

            this.game.players[card.playerId].traded = false;

            socket.emit('played', this.game);
          },
          join: function(playerId) {
            if (this.myPlayerId != null) {
              return;
            }

            this.game.players[playerId].claimed = true;

            myPlayerId = playerId;
            this.myPlayerId = playerId;
            socket.emit('played', this.game);
          },
          updateScores: function() {
            for (let i = 0; i < 4; i++) {
              const codes = this.game.players[i].cardsFromTricks.map(card => card.code);
              const hearts = this.game.players[i].cardsFromTricks.filter(card => card.suit == 'HEARTS').length;

              // -26 if they shot the moon
              if (hearts == 14) {
                this.game.players[i].points -= 26;
                return;
              }

              // 1 point per heart
              this.game.players[i].points += hearts;

              // 12 extra points for QH
              if (codes.includes('QH')) {
                this.game.players[i].points += 12;
              }

              // -10 points for JD
              if (codes.includes('JD')) {
                this.game.players[i].points -= 10;
              }
            }
          },
          pullCardFromPlayer: function(playerId, cardIndex, trade = false) {
            const cardStack = trade ? 'cardsFromTrade' : 'cards';
            return this.game.players[playerId][cardStack].splice(cardIndex, 1)[0];
          },
          getTradePartner: function(round, playerId) {
            const tradeType = round % 4;

            if (tradeType == 1) {
              // Trade to your left
              if (playerId == 3) {
                return 0;
              }

              return playerId + 1;
            } else if (tradeType == 2) {
              // Trade to your right
              if (playerId == 0) {
                return 3;
              }

              return playerId - 1;
            } else if (tradeType == 3) {
              // Trade across
              if (playerId < 2) {
                return playerId + 2;
              } 
              return playerId - 2;
            } else {
              // Do not trade
              return playerId;
            }
          },
          getTradeDescription: function(round) {
            const tradeType = round % 4;

            switch(tradeType) {
              case 1:
                return 'trade to the left';
              case 2:
                return 'trade to the right';
              case 3:
                return 'trade across the table';
              default:
                return 'hold'; 
            }
          }
        }
      });
    </script>
  </body>
</html>