<!doctype html>
<html>
    <head>
        <title>Hearts - Lobby</title>
        <%- include('partials/head') %>  
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="/"><i class="far fa-heart"></i> Hearts</a>
        </nav>
        <div class="jumbotron">
            <div class="container d-flex flex-column align-items-center">
                <div class="row mt-3">
                    <h1>Play Hearts with your friends</h1>
                </div>
                <div class="row mt-3">
                    <p class="lead">Play with three of your friends in your browser. No accounts. Nothing to download.</p>
                </div>
                <div class="row mt-3">
                    <div id="game-url"></div>
                </div>
                <div class="row mt-3">
                    <p class="text-muted">One of your friends start a game already? Ask them to send you the link.</p>
                </div>
            </div>
        </div>
        <div class="container my-5">
            <div class="row justify-content-around">
                <div class="col-md-4 mt-md-3">
                    <div class="card ml-md-3">
                        <div class="card-body">
                            <h1 class="h3"><i class="fas fa-users"></i> Play with your friends</h1>
                            <p>Share your link with friends. Free, and installation-free.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card mx-md-3">
                        <div class="card-body">
                            <h1 class="h3"><i class="fas fa-bone"></i> Bare-bones</h1>
                            <p>No accounts or native apps. No self-driving cars. Just classic Hearts.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3">
                    <div class="card mr-md-3">
                        <div class="card-body">
                            <h1 class="h3"><i class="fab fa-github"></i> Open source</h1>
                            <p><a href="https://github.com/zchr/hearts">View & contribute</a> on GitHub. Fork the repo & host it yourself--do as you please.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
            <div class="container justify-content-between">
                <p>Made by <a href="https://github.com/zchr">Zach Schnell</a></p>
                <div>
                    <p>Thanks to the projects that power this site</p>
                    <ul>
                        <li><a href="https://deckofcardsapi.com/">Deck of cards API</a></li>
                        <li><a href="https://github.com/vuejs/vue">Vue</a></li>
                        <li><a href="https://github.com/socketio/socket.io">Socket.io</a></li>
                    </ul>
                </div>
            </div>
        </nav>        
        <script>
            const gameId = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
            document.getElementById('game-url').innerHTML = `
                <a class="btn btn-primary btn-lg" href="/game/${gameId}">Start a game</a>    
            `;
        </script>
    </body>
</html>